
*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  color: whitesmoke;
  display: grid;
  grid-template-areas:
    "aside"
    "navbar"
    "search"
    "main"
    "footer";
  grid-template-rows: 8% 8% 10% auto 8%;
  height: 100vh;
}

aside{
  grid-area: aside;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color:rgb(0, 0, 0);
  background-color: #ffe600;

}

.navbar{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: #ffe600;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1rem;
  
}

.navbar a{
  text-decoration: none;
  color:rgb(0, 0, 0);

}
.navbar i{
  transition:font-size 0.6s ease;
}
.navbar i:hover{
  transform: scale(2);
}

menu{
  display:none;
}

i{
  font-size: 1rem;
  margin-left: 1rem;
}

.search-container{
  grid-area: search;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #494949;
}

select{
  width: 60%;
  border: none;
  border-radius: 10px;
  padding: 6px;
  margin: 0.5rem;
}

label{
  font-size: 0.75rem;
  font-weight:normal;
  margin-top: 10px;
}

main{
  grid-area: main;
  background-color: rgb(48, 48, 48);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardMobi{
  border: 0.5px solid #494949;
  border-radius: 0.25rem;
  margin: 10px, 0;
  text-align: center;
}

.cardMobi img{
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  padding: 25px;
  transition: all 0.4s ease;
  filter: grayscale(100);
}
.cardMobi img:hover{
  justify-content: center;
  align-items: center;
  padding: 25px;
  transform: scale(1.2);
  filter: grayscale(0);
}

.cardMobi p{
  margin-bottom: 5px;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards img{
  cursor: zoom-in;
}

.grid{
  display:none;
}
.cardDesk{
  display: none;
}

.pagination{
  margin: 1rem;
  text-align: center;
}

.pagination a{
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid #202421;
  border-radius: 10px;
  color: #c38858;
  margin: 10px 5px;
}

.pagination a.active{
  background-color: #c38858;
  color: white;
}

footer{
  grid-area: footer;
  background-color: #c38858;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

footer .icons a{
  text-decoration: none;
  padding: 5px 2px;
}


/* MEDIA QUERIES */
@media(width >= 576px){
  body{
    display: grid;
    height: 100vh;
    width: auto;
    grid-template-areas: 
    "aside navbar"
    "aside search" 
    "aside main" 
    "footer main";

    grid-template-columns: 15% auto;
    grid-template-rows: 8% 8% auto 10%;
  }

  aside{
    grid-area: aside;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.5rem;
  }

  .navbar{
    width: 100%;
    justify-content: space-between;
  }

  .navbar p{
    text-align: center;
  }

  .bars{
    display: none;
  }


  menu{
    display: flex;
    flex-direction: column;
    padding: 3.5rem;
    font-size: 1rem;
  }

  menu p a{
    color:rgb(0, 0, 0);
    text-decoration: none;
  }
.cards{
  display: none;
}
 
  .cardMobi{
    display: none;
  }

  .grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .grid section{
    background-color:#d4ccbb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin: 0.5rem;
    width: 100%;
  }

  .cardDesk{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    border-radius: 0.25rem;
  }

  .cardDesk img{
    padding: 25px;
    cursor: zoom-in;
    transition: all 0.4s ease;
    filter: grayscale(100);
  }
  .cardDesk img:hover{
    justify-content: center;
    align-items: center;
    padding: 25px;
    transform: scale(1.2);
    filter: grayscale(0);
  }
  .cardDesk p{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footer-text{
    
    font-size: 8px;
    text-align: center;
  }
}